<!DOCTYPE html>
<html>
<% include partials/header %>
    <body>
        <div class="jumbotron" id=homePageTitle>
            <h1><%=title%></h1>
            <p>Welcome to <%=title%></p>
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile" onlogin="checkLoginState();"></div>
        </div>
            
        <div id="status">
        </div>
        
    </body>
</html>